* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/images/massage-therapy.jpg');
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.App {
    height: auto;
    border: solid;
    border-width: 25px;
    border-left-width: 200px;
    border-right-width: 200px;
    border-color: rgba(10, 92, 51, 0.699);
  
}